@import './mini/reset';
@import './mini/base';
@import './mini/colors';
@import './mini/fonts';
@import './mini/mixins';
@import './mini/screens';

* {
   font-family: $Satoshi;
   transition: .3s;
}

.closure {
   position: relative;
   width: 100%;
   height: 100vh;
   max-height: 100vh;
   background: rgb(177, 177, 177);
//    background: $deepPurple;
}


//SIDEBAR
nav.sidebar {
   width: 100vw;
   height: 100vh;
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
   padding: 0.1px;
   transition: .8s;
   background: rgb(177, 177, 177);
//    background: $deepPurple;

   //cloe btn
   & > button {
      background: none;
      border: none;
      float: right;
      margin: 30px 20px 0px 0px;
      width: max-content;
      height: max-content;
      padding: 0;
      @include hoverPinter;

      img {
         width: 50px;
      }
      
   }

   //navigation links
   ul {
      list-style-type: none;
      display: block;
      margin: 0;
      margin-top: 100px;
      padding: 0;
      margin-left: 50px;
      width: max-content;

      li {
         display: block;
         margin-bottom: 20px;
       
         a {
            display: block;
            padding: 10px 80px 10px 10px;
            font-size: 1rem; //16px
            font-weight: 500;
            line-height: 22px;
            text-decoration: none;
            color: $white;
         }
      }
   }

   //action-btn
   .primary-btn {
      display: block;
      margin-left: 50px;
      width: 200px;
      position: absolute;
      bottom: 5vh;
   }
}
nav.sidebar.closed {
   margin-left: -100vh;
}


//HEADER
header {

   .margin {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      height: 90px;
      margin: auto;
   }

   //logo
   a.sitepin {
      display: block;
     img {
         width: 80px;
     }
   }

   nav {
      display: none;
   }

   //action btn
   a.primary-btn {
      display: none;
   }

   button.hamburger {
      background: none;
      border: none;
      width: 40px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include hoverPinter;

      & > div {
         height: 4px;
         border-radius: 2px;
         background: $white;
   
         &:nth-child(1) {
            width: 100%;
            margin-bottom: 5px;
         }


         &:nth-child(2) {
            width: 66%;
         }
      }
   }
}

//MAIN CONTENT
main {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

//'anabel' + hat
.hero-name {
   max-width: 500px;
   margin: auto;
   margin-top: 8vh;

   & > div {
      position: relative;
      width: max-content;
      margin: auto;

      h1 {
         text-align: center;
         font-size: 3.125rem; //50px
         font-family: $Franie;
         color: $white;
         font-weight: 500;
         margin: 0;
         position: relative;
         z-index: 2;
      }

      img {
         width: 70px;
         position: absolute;
         z-index: 2;
         top: -50%;
         right: -34px;
         transform: rotate(35.16deg);
         z-index: 0;
      }

      &:after {
         display: block;
         content: '';
         position: absolute;
         z-index: 2;
         top: -1px;
         right: -5px;
         width: 21px;
         height: 15.48px;
         background: #1A1A1C;
         filter: blur(2.5px);
         transform: rotate(20.82deg);
      }
   }


   & > p {
      width: 100%;
      text-align: center;
      color: $white;
      width: 70%;
      margin: auto;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
   }

   & > button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: linear-gradient(97.41deg, #D9D9D9 -192.76%, rgba(19, 0, 86, 0.38) -45.22%, rgba(217, 217, 217, 0) 111.83%);
      backdrop-filter: blur(22px);
      border: none;
      color: $white;
      width: 45%;
      margin: auto;
      margin-top: 20px;
      padding: 13px 0px;
      border-radius: 20px;
      font-weight: 500;
      @include hoverPinter;

      img {
         width: 26px;
      }
   }

}

//anabel + sunset
.hero-img {
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}
.hero-img-in {
   width: 100%;
   max-width: 400px;
   margin: auto;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;

    //anabel + sunset
    & > div {
      position: absolute;
      top: 50%;
      z-index: 1;
      border-radius: 100%;
      width: 120vw;
      margin: auto;
      margin-left: 1vw;
      max-width: 800px;

      & > div {
         position: absolute;
         z-index: 2;
         top: 0;
         width: 100%;
         height: 100%;
         filter: blur(150.047px);

         div{
            width: 100%;
            height: 100%;
            background: linear-gradient(150.95deg, #7D6EB1 7.67%, #7D6EB1 147.46%);
         }
      }

      //sunet
      img {
         position: relative;
         width: 100%;
         opacity: 0.4;
         border-radius: 100%;
         z-index: 3;
         margin-top: 10px;
      }
   }

   //anabel
   & > img {
      position: relative;
      z-index: 2;
      width: 100%;
      margin: auto;
      margin-left: 5px;
   }
}

