

* {
//    outline: 1px solid rgba(255, 255, 255, 0.062);
   padding: 0;
   margin: 0;
}
body {
//    overflow: hidden;
}
img {
   display: block;
}

.primary-btn {
   background: linear-gradient(109.48deg, #4523B0 36.94%, #6E8EFF 141.52%);
   border-radius: 72.5px;
   font-weight: 500;
   color: white;
   text-decoration: none;
   font-size: 1rem; //16px
   line-height: 22px;
   padding: 16px 0px;
   text-align: center;

   &:hover {
      transition: .4s;
      transform: scale(1.05);
      box-shadow: 0px 5px 20px #443770a1;
     
   }
}