@import './screens';

//600px
@include tabs-mini {
   //MAIN CONTENT
   .hero-name {

      //'anabel' + hat
      & > div:first-child {
         h1 {
            font-size: 90px; //50px
         }

         img {
            width: 90px;
            top: -38%;
            right: -40px;
         }

         &:after{
            top: 2px;
            right: 0px;
         }
      }

      //descr + trailer btn
      & > div:nth-child(2) {
         p {
            font-size: 15px;
            line-height: 1.6rem;
            width: 90%;
         }
      
         button {
            font-size: 16px;

            //play icon
            img:nth-child(1) {
               width: 30px;
            }

            //magic brush
            img:nth-child(3) {
               width: 65px;
               margin-left: 70px;
               bottom: -50px;
            }
         }
         
      }
   }
   .hero-img-in {
      div.side-glows {
         height: 150px;
         filter: blur(30px);
      }
   }
}

//768px
@include tabs {
   //HEADER 
   header {

      .margin {
         width: 85%;
         height: 120px;
      }

      //logo
      a.sitepin {
         img {
            width: 100px;
         }
      }
      button.hamburger {
         width: 50px;
      }
   }

   //MAIN CONTENT
   .hero-name {

      //descr + trailer btn
      & > div:nth-child(2) {
         p {
            font-size: 15px;
            line-height: 1.6rem;
            width: 90%;
         }
      
         button {
            font-size: 16px;

            //play icon
            img:nth-child(1) {
               width: 30px;
            }

            //magic brush
            img:nth-child(3) {
               width: 65px;
               bottom: -50px;
            }
         }
         
      }
   }

   .hero-img-in {
      max-width: 500px;
   }

   button.animation-control {
      bottom: 5vh;
      right: 30px;
      width: 70px;
      height: 70px;
   
      img {

   
         //png
         &:nth-child(1) {
   
         }
   
         //gif
         &:nth-child(2) {
            width: 125px;
         }
      }
   } 

   div.shooting-stars {
      width: 80px;
      top: 65vh;
   }
}

//1024px 
@include laps-mini {
   //HEADER 
   header {

      .margin {
         width: 90%;
         height: 120px;

         //nav + action btn
         & > div {
            display: flex;
            align-items: center;
         }
      }

      nav {
         display: block;

         ul {
            list-style-type: none;

            li {
               display: inline;

               &:not(:nth-child(1)) {
                  margin-left: 40px;
               }
               
               a {
                  color: $white;
                  text-decoration: none;

                  &:hover {
                     opacity: .6;
                  }
               }
            }
         }
      }
   
      //action btn
      a.primary-btn {
         display: block;
         width: 170px;
         padding: 12px 0px;
         margin-left: 20px;
      }

      button.hamburger {
         display: none;
      }

      a, a.primary-btn {
         font-size: 0.875rem; //14px
      }
   }

   //MAIN CONTENT
   .hero-name {
      margin-top: 10vh;
      position: relative;
      max-width: max-content;
      
      //'anabel' + hat
      & > div:first-child {
         h1 {
            font-size: 8.125rem; //130px
         }

         img {
            width: 100px;
            top: -23%;
            right: -32px;
         }

         &:after{
            width: 30px;
            height: 18px;
            top: 7px;
            right: 2px;
         }  
      }
   
      //descr + trailer btn
      & > div:nth-child(2) {
         padding: 27px 35px 35px 27px;
         position: absolute;
         z-index: 4;
         bottom: -220px;
         right: -180px;
         width: 307.2px;
         transform: scale(.9);

        P {
            width: 100%;
            text-align: left;
            margin: 0;
            margin-bottom: 18px;
            line-height: 1.55rem;
        }

        button {
         all: unset;
         display: flex;
         align-items: center;
         color: white;
         font-size: 16px;

         //play icon
         img:nth-child(1) {
            width: 40px;
            margin-right: 10px;
         }

         //magic brush
         img:nth-child(3) {
            width: 75px;
            bottom: -30px;
            margin-left: 73px;
         }
        }

        p, button {
         font-size: 14px;
        }  
      }
   
   }

   div.shooting-stars {
      width: 80px;
      top: 85vh;

      img {
         &:nth-child(2) {
            top: 90px;
         }
      }
   }
}

//1200px
@include laps{
   //MAIN CONTENT
   .hero-name {
    
      
      //'anabel' + hat
      & > div:first-child {
         h1 {
         }

         img {
            width: 120px;
            top: -30%;
            right: -40px;
         }

         &:after{
            width: 30px;
            height: 17px;
            top: 7px;
            right: 2px;
         }  
      }
   
      //descr + trailer btn
      & > div:nth-child(2) {
         padding: 22px 25px 40px 22px;
         right: -230px;
         width: 27.5vw;
         max-width: 402px;

        P {
         
        }

        button {
        
         //play icon
         img:nth-child(1) {
            
         }

         //magic brush
         img:nth-child(3) {
            bottom: -27px;
            margin-left: 83px;
         }
        }

        p, button {
         font-size: 14px;
        }
         
      }
   
   }

   .hero-img-in {
      max-width: 600px;

      div.side-glows {
         height: 180px;

         div {
         }
      }
   }  

   button.animation-control {
     right: 60px;
   }
   
}

//1440px
@include desktops {
   //HEADER 
   header {
      .margin {
         height: 135px;
         width: 84.43%;
      }

     

      a, a.primary-btn {
         width: 183px;
         font-size: 1rem; //16px
      }

      a.sitepin {
         margin-top: 20px;
         margin-left: -60px;
         img{
            width: 161px;
         }
      }

      a.primary-btn {
         line-height: 22px;
         padding: 16px 0px;
         margin-left: 83px;
      }

      nav {
         ul {
            li {
               &:not(:nth-child(1)) {
                  margin-left: 80px;
               }

               a {

               }
            }
         }
      }
   }

   //MAIN CONTENT
   .hero-name {
      margin-top:11vh;

       //'anabel' + hat
      & > div:first-child {
         margin-left: 50px;

         h1 {
            font-size: 12.5rem; //200px  //13.8vw
            line-height: 280px;
            line-height: 170px;
            overflow: hidden;
         }

         img {
            width: 160px;
            top: -45%;
            right: -63px;
            transform: rotate(29.16deg);
         }

         &:after{
            width: 35px;
            height: 17px;
            top: -9px;
            right: 9px;
         }  
      }

      //descr + trailer btn
      & > div:nth-child(2) {
         padding: 33px 36px 46px 33px;
         transform: unset;
         bottom: -280px;
         right: -12.6vw;
         transform: unset;

         p {
            line-height: 29px;
            margin-bottom: 20px;
         }

         button {
            line-height: 22px;

            //play icon
            img:nth-child(1) {
               width: 56px;
               margin-right: 13px;
            }

             //magic brush
             img:nth-child(3) {
               width: 98px;
            }
         }

         p, button {
            font-size: 16px;
         }
      }
   }

   .hero-img-in { 
      width:  48.2vw;
      max-width: unset;

      //anabel + sunset
      & > div {
         margin-left: auto;
         width: 150%;
      }

      //anabel
      picture {
        //  margin-left: -18px;
         width: 100%;

         img {
            width: 100%;
         }
      }

      & > div {
         max-width: unset;
         width: 67.36vw;
         top: 46%;
         
         //sunset
         img {
            
         }
      }

      div.side-glows {
         height: 220px;
         width: 67.36vw;
         max-width: unset;

         div {

         }
      }
    }

   button.animation-control {
      right: 105px;
   }

   div.shooting-stars {
      width: 110px;
      top: 85vh;

     img {
      transition: 2s;
     }
   }
}

//1550px
@include desktopsX {
   //MAIN CONTENT
   .hero-name {

      //'anabel' + hat
      & > div:first-child  {
         transform: scale(1.03);

      }

      //descr + trailer btn
      & > div:nth-child(2) {
         right: -14.19vw;
      }
   }
   .hero-img-in {
      max-width: unset;
      width: 76vh;
      
      picture {
        //  width: 48vw;
        margin-left: auto;
      }
   }
}